/**
 * Copyright (c) 2018 krtkl inc.
 *
 * snickerdoodle SPI
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 as published by
 * the Free Software Foundation.
 */

/dts-v1/;
/include/ "snickerdoodle.dtsi"

/ {
	model = "snickerdoodle";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};
};

//&wlcore {
//	compatible = "wlcore", "ti,wl1831";
//};

&spi0 {
        status = "okay";

        spidev@0 {
                compatible = "linux,spidev";
                spi-max-frequency = <5000000>;
                reg = <0>;
        };
};
