/**
 * Copyright (c) 2018 krtkl inc.
 *
 * snickerdoodle Black piSmasher Device Tree Source
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 as published by
 * the Free Software Foundation.
 */

/dts-v1/;
/include/ "snickerdoodle-black.dtsi"
/include/ "uio.dtsi"

/ {
	aliases {
		ethernet0 = &gem0;
		ethernet1 = &gem1;
	};

	power_en_reg: fixed-regulator-powen {
		compatible = "regulator-fixed";
		regulator-name = "power-en-regulator";
		gpio = <&gpio0 20 0>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		startup-delay-us = <70000>;
		regulator-always-on;
		enable-active-high;
	};

	usb_phy0: usb-phy0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
		view-port = <0x170>;
		drv-vbus;
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;

	usb2514b@2c {
		compatible = "microchip,usb2514b";
		reg = <0x2c>;
		reset-gpios = <&gpio0 16 1>;
	};
};

&spi1 {
	status = "okay";
	num-cs = <1>;
	is-decoded-cs = <0>;
	#address-cells = <1>;
	#size-cells = <0>;

	dev@0 {
		compatible = "linux,spidev";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	reset-gpios = <&gpio0 19 1>;

	eth_phy0: ethernet-phy@0 {
		compatible = "marvell,88E1510";
        reg = <0>;
		device_type = "ethernet-phy";
	};

	gmii2rgmii0: gmiitorgmii@8 {
		compatible = "xlnx,gmii-to-rgmii-1.0";
		reg = <8>;
		phy-handle = <&eth_phy0>;
	};
};

&gem1 {
	status = "okay";
	phy-mode = "rgmii-id";
	reset-gpios = <&gpio0 17 1>;

	eth_phy1: ethernet-phy@0 {
		compatible = "marvell,88E1510";
        reg = <0>;
		device_type = "ethernet-phy";
	};

	gmii2rgmii1: gmiitorgmii@9 {
		compatible = "xlnx,gmii-to-rgmii-1.0";
		reg = <9>;
		phy-handle = <&eth_phy1>;
	};
};
