/**
 * Copyright (c) 2016 krtkl inc.
 *
 * snickerdoodle base device tree source
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 as published by
 * the Free Software Foundation.
 */

/include/ "zynq-7000.dtsi"
/ {
        compatible = "xlnx,zynq-snickerdoodle", "xlnx,zynq-7000";

	aliases {
		serial0 = &uart0;
		spi0 = &qspi;
		spi1 = &spi1;
		mmc0 = &sdhci0;
		mmc1 = &sdhci1;
	};

	chosen {
		bootargs = "console=ttyPS0,115200n8 earlyprintk";
		linux,stdout-path = &uart0;
		stdout-path = &uart0;
	};

        wlan_en_reg: fixed-regulator-wlen {
                compatible = "regulator-fixed";
                regulator-name = "wlan-en-regulator";
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1800000>;
                gpio = <&gpio0 9 4>;
                startup-delay-us = <70000>;
                enable-active-high;
        };
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&uart0 {
	status = "okay";
};

&sdhci0 {
	status = "okay";
};

&sdhci1 {
	status = "okay";
	vmmc-supply = <&wlan_en_reg>;
	bus-width = <4>;
	cap-power-off-card;
	keep-power-in-suspend;
	#address-cells = <1>;
	#size-cells = <0>;	

        wlcore: wlcore@0 {
                reg = <2>;
                interrupt-parent = <&gpio0>;
                interrupts = <0 4>;
        };

};

&spi1 {
	status = "okay";
	num-cs = <1>;
};

&qspi {
	status = "okay";
	is-dual = <0>;
	num-cs = <1>;
	xlnx,qspi-mode = <1>;

	flash@0 {
		compatible = "n25q128a11";
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells =<1>;
		
		partition@qspi-fsbl-uboot {
			label = "qspi-fsbl-uboot";
			reg = <0x0 0x80000>;
		};

		partition@qspi-linux {
			label = "qspi-linux";
			reg = <0x80000 0x400000>;
		};

		partition@qspi-device-tree {
			label = "qspi-device-tree";
			reg = <0x480000 0x10000>;
		};

		partition@qspi-rootfs {
			label = "qspi-rootfs";
			reg = <0x490000 0x8f0000>;
		};

		partition@qspi-bitstream {
			label = "qspi-bitstream";
			reg = <0xd80000 0x280000>;
		};
	};
};
