/**
 * Copyright (c) 2016 krtkl inc.
 *
 * Scorbitron snickerdoodle black device tree source
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 as published by
 * the Free Software Foundation.
 */

/dts-v1/;
/include/ "snickerdoodle-black.dtsi"

/ {
	model = "Scorbitron";

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		wr_mem: reserved@30000000 {
			reg = <0x30000000 0x8000000>;
		};

		rd_mem: reserved@38000000 {
			reg = <0x38000000 0x8000000>;
		};
	};

	usb_phy0: phy0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;

	usbhub0: usb2514b@2c {
		compatible = "microchip,usb2514b";
		reg = <0x2c>;
	};
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&amba {
	axi_dma: dma@40400000 {
		reg = <0x40400000 0x10000>;
		compatible = "krtkl,generic-uio,ui_pdrv";
		interrupt-parent = <&intc>;
		interrupts = <0 59 4>;
	};

	dma_mm2s: mm2s-channel@38000000 {
		reg = <0x38000000 0x8000000>;
		compatible = "krtkl,generic-uio,ui_pdrv";
		interrupt-parent = <&intc>;
		interrupts = <0 29 4>;
	};

	dma_s2mm: s2mm-channel@30000000 {
		reg = <0x30000000 0x8000000>;
		compatible = "krtkl,generic-uio,ui_pdrv";
		interrupt-parent = <&intc>;
		interrupts = <0 30 4>;
	};

	axi_i2c0: i2c@41600000 {
		reg = <0x41600000 0x10000>;
		compatible = "xlnx,xps-iic-2.00.a";
		clocks = <&clkc 15>;
		interrupt-parent = <&intc>;
		interrupts = <0 31 4>;
	};

	axi_i2c1: i2c@41610000 {
		reg = <0x41610000 0x10000>;
		compatible = "xlnx,xps-iic-2.00.a";
		clocks = <&clkc 15>;
		interrupt-parent = <&intc>;
		interrupts = <0 32 4>;
	};

	axi_i2c2: i2c@41620000 {
		reg = <0x41620000 0x10000>;
		compatible = "xlnx,xps-iic-2.00.a";
		clocks = <&clkc 15>;
		interrupt-parent = <&intc>;
		interrupts = <0 33 4>;
	};

	axi_i2c3: i2c@41630000 {
		reg = <0x41630000 0x10000>;
		compatible = "xlnx,xps-iic-2.00.a";
		clocks = <&clkc 15>;
		interrupt-parent = <&intc>;
		interrupts = <0 34 4>;
	};

	gpio_io: gpio@41200000 {
		reg = <0x41200000 0x10000>;
		compatible = "xlnx,xps-gpio-1.00.a";
		gpio-controller;
		xlnx,gpio-width = <16>;
		xlnx,all-inputs = <0>;
		xlnx,dout-default = <0x0>;
		xlnx,tri-default = <0xffffffff>;
		xlnx,is-dual = <1>;
		xlnx,gpio2-width = <16>;
		xlnx,all-inputs-2 = <0xffff>;
		xlnx,tri-default-2 = <0xffffffff>;
	};

	disp_io: gpio@41210000 {
		reg = <0x41210000 0x10000>;
		compatible = "xlnx,xps-gpio-1.00.a";
		gpio-controller;
		xlnx,gpio-width = <10>;
		xlnx,all-inputs = <0>;
		xlnx,dout-default = <0x0>;
		xlnx,tri-default = <0xffffffff>;
		xlnx,is-dual = <1>;
		xlnx,gpio2-width = <10>;
		xlnx,all-inputs-2 = <0x03ff>;
		xlnx,tri-default-2 = <0xffffffff>;
	};

	led_io: gpio@41220000 {
		reg = <0x41220000 0x10000>;
		compatible = "xlnx,xps-gpio-1.00.a";
		gpio-controller;
		xlnx,gpio-width = <6>;
		xlnx,all-inputs = <0>;
		xlnx,dout-default = <0x0>;
		xlnx,tri-default = <0xffffffff>;
		xlnx,is-dual = <0>;
	};

	rs485_io: gpio@41230000 {
		reg = <0x41230000 0x10000>;
		compatible = "xlnx,xps-gpio-1.00.a";
		gpio-controller;
		xlnx,gpio-width = <12>;
		xlnx,all-inputs = <0>;
		xlnx,dout-default = <0x0>;
		xlnx,tri-default = <0xffffffff>;
		xlnx,is-dual = <1>;
		xlnx,gpio2-width = <4>;
		xlnx,all-inputs-2 = <0xf>;
		xlnx,tri-default-2 = <0xffffffff>;
	};

	gpio4: gpio@41240000 {
		reg = <0x41240000 0x10000>;
		compatible = "xlnx,xps-gpio-1.00.a";
		gpio-controller;
		xlnx,gpio-width = <3>;
		xlnx,all-inputs = <0>;
		xlnx,tri-default = <0xffffffff>;
		xlnx,is-dual = <0>;
	};

	fpga_sd: gpio@41250000 {
		reg = <0x41250000 0x10000>;
		compatible = "xlnx,xps-gpio-1.00.a";
		gpio-controller;
		xlnx,gpio-width = <9>;
		xlnx,all-inputs = <0>;
		xlnx,tri-default = <0xffffffff>;
		xlnx,is-dual = <0>;
	};
};
