/**
 * Copyright (c) 2017 krtkl inc.
 *
 * snickerdoodle prime LE piSmasher device tree source
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 as published by
 * the Free Software Foundation.
 */

/dts-v1/;
/include/ "snickerdoodle-prime-le.dtsi"

/ {
	model = "snickerdoodle prime LE";

	aliases {
		ethernet0 = &gem0;
//		ethernet1 = &gem1;
	};

        usb_phy0: phy0 {
                compatible = "usb-nop-xceiv";
                #phy-cells = <0>;
        };
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;

	usb2514@2c {
		compatible = "microchip,usb2514b";
		reg = <0x2c>;
	};
};

&gem0 {
	status = "okay";
	xlnx,has-mdio = <1>;
	phy-handle = <&ethernet_phy0>;
	phy-mode = "rgmii-id";
	gmii2rgmii-phy-handle = <&gmiitorgmii0>;

	ethernet_phy0: ethernet-phy@0 {
		compatible = "marvell,88e1510";
		device_type = "ethernet-phy";
		reg = <0>;
	};

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		gmiitorgmii0: gmiitorgmii@0 {
			compatible = "xlnx,gmii-to-rgmii-1.0";
			reg = <7>;
			phy-handle = <&ethernet_phy0>;
		};
	};
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};
