/**
 * Copyright (c) 2016 krtkl inc.
 *
 * snickerdoodle black piSmasher device tree source
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License version 2 as published by
 * the Free Software Foundation.
 */

/dts-v1/;
/include/ "snickerdoodle-black.dtsi"

/ {
	model = "snickerdoodle black piSmasher";

	aliases {
		ethernet0 = &gem0;
		ethernet1 = &gem1;
	};

        usb_phy0: phy0 {
                compatible = "usb-nop-xceiv";
                #phy-cells = <0>;
        };

	mdio0: mdio@e000b000 {
		compatible = "cdns,macb-mdio";
		reg = <0xe000b000 0x1000>;
		clocks = <&clkc 30>, <&clkc 30>, <&clkc 13>;
		clock-names = "pclk", "hclk", "tx_clk";
		#address-cells = <1>;
		#size-cells = <0>;

		phy0: phy@0 {
			device_type = "ethernet-phy";
			reg = <0>;
		};

		phy1: phy@1 {
			device_type = "ethernet-phy";
			reg = <1>;
		};

		gmii2rgmii0: phy@8 {
			compatible = "xlnx,gmii-to-rgmii-1.0";
			reg = <8>;
			phy-handle = <&phy0>;
		};

		gmii2rgmii1: phy@9 {
			compatible = "xlnx,gmii-to-rgmii-1.0";
			reg = <9>;
			phy-handle = <&phy1>;
		};
	};

//	sound0: sound {
//		compatible = "simple-audio-card";
//		simple-audio-card,name = "piSmasher Audio";

//		simple-audio-card,widgets =
//			"Line", "Line Out";

//		simple-audio-card,routing =
//			"Line Out", "LLOUT",
//			"Line Out", "RLOUT";

//		simple-audio-card,format = "i2s";
//		simple-audio-card,bitclock-master = <&sound0_codec>;
//		simple-audio-card,frame-master = <&sound0_codec>;

//		simple-audio-card,cpu {
//			sound-dai = <&logii2s0>;
//		};

//		sound0_codec: simple-audio-card,codec {
//			#sound-dai-cells = <0>;
//			sound-dai = <&tlv320aic3104>;
//		};
//	};

//	logii2s0: logii2s@43c00000 {
//		#sound-dai-cells = <0>;
//		op-mode = <0>;
//		tdm-slots = <4>;
//		compatible = "xylon,logii2s-2.00.a";
//		reg = <0x43c00000 0x1000>;
//		interrupt-parent = <&intc>;
//		interrupts = <0 29 4>;
//		core-clock-frequency = <100000000>;

//		instance_0 {
//			i2s-clock-frequency = <12000000>;
//			fifo-size = <512>;
//			almost-full-level = <170>;
//			almost-empty-level = <85>;
//		};

//		instance_1 {
//			i2s-clock-frequency = <12000000>;
//			fifo-size = <512>;
//			almost-full-level = <170>;
//			almost-empty-level = <85>;
//		};
//	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;

	usbhub0: usb2514b@2c {
		compatible = "microchip,usb2514b";
		reg = <0x2c>;
	};

//	tlv320aic3104: tlv320aic3104@18 {
//		#sound-dai-cells = <0>;
//		compatible = "ti,tlv320aic3104";
//		reg = <0x18>;
//		status = "okay";
//	};
};

&gem0 {
	status = "okay";
	xlnx,has-mdio = <1>;
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	gmii2rgmii-phy-handle = <&gmii2rgmii0>;
};

&gem1 {
	status = "okay";
	xlnx,has-mdio = <0>;
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	gmii2rgmii-phy-handle = <&gmii2rgmii1>;
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};
